/*
  ========================================
  CSS Reset
  http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
  ========================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
    background: #fff;
    color: #474747;
    font: 16px Tahoma, sans-serif;
  }

/*
========================================
Header
========================================
*/

.top-bar {
    background: #161c20;
    padding: 24px 5%;
}

.top-bar h6 {
    font: 12px Tahoma, sans-serif;
    display: inline;
    margin: 20px 5px;
}

header {
    color: #f0f0f0;
}

.nav {
    padding: 20px 5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65));
    background-size: 100%;
}

.nav nav {
    float: right;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    line-height: 2em;
    vertical-align: middle;
    
}

.nav h2 {
    float: left;
    font: 30px Georgia, serif;
}

/*
========================================
Home
========================================
*/

.hero {
    text-align: center;
    color: #f0f0f0;
    height: 40em;
    vertical-align: middle;
    margin: 12em 0;
}

.hero h1 {
    font: 56px Georgia, serif;
}

.hero p {
    margin: 16px 27.5%;
    line-height: 1.7em;
}

.hero-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url("../images/airport-terminal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-btn {
  background: #b946ad;
  color: #f0f0f0;
  font-size: 15px;
  border: none;
  text-transform: uppercase;
  padding: 12px 24px;
  margin: 35px;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}